@model DemoWeb.Models.ErrorViewModel

@{
    ViewData["Title"] = "About app";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
    body {
        font-family: "Montserrat", serif
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: serif;
        letter-spacing: 5px
    }
</style>
<body>
    <!-- Ảnh bìa-->
    <div class="w3-display-container w3-padding-top-48">
        <img src="/picture/biahome.png" alt="Catering" style="width:100%">
        <div class="w3-display-bottomleft w3-padding w3-opacity">
            <h1>BOOKSTORES</h1>
        </div>
    </div>

    <div id="about" class="w3-padding-top-64">
        <div class="w3-row">
            <!-- Ảnh giới thiệu app-->
            <div class="w3-half w3-padding-large w3-hide-small">
                <img src="/picture/anh4.jpg" class="w3-round w3-image w3-opacity-min" alt="Table" style="width:100%">
            </div>
            <!-- Giới thiệu app-->
            <div class="w3-half w3-padding-large">
                <h1 class="w3-center">Giới thiệu</h1><br>
                <h5 class="w3-center">Bookstores được xây dựng</h5>
                <p class="w3-large">
                    Hệ thống nhà sách của chúng tôi mang đến cho bạn thế giới sách phong phú và tiện lợi ngay cả trên website. Chúng tôi không chỉ là nơi mua sắm sách mà còn là không gian văn hóa, nơi bạn có thể khám phá tri thức, kết nối với cộng đồng yêu sách và nuôi dưỡng niềm đam mê đọc.
                </p>
                <p class="w3-large"> Địa chỉ:</p><p class="address"> 11A Đường ABC, TP. HCM</p>
                <p class="w3-large"> Liên hệ:</p><p class="Phone"> 1900 1234</p>
            </div>

        </div>
    </div>
    </div>

</body>
</html>
