﻿
<!DOCTYPE html>
<html>
<head>
    <title>Lịch sử</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <center> <h1>Lịch sử</h1> </center>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Mã NV</th>
                <th>Ngày Thực Hiện</th>
                <th>Nội dung</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>PTNV0001</td>
                <td>05/08/2024</td>
                <td>Thanh toán</td>
                <td>
                    <a asp-action="Details" asp-route-id="" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>PTNV0002</td>
                <td>04/08/2024</td>
                <td>Thanh toán</td>
                <td>
                    <a asp-action="Details" asp-route-id="" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td>03</td>
                <td>FTNV0007</td>
                <td>04/08/2024</td>
                <td>Thanh toán</td>
                <td>
                    <a asp-action="Details" asp-route-id="" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td>04</td>
                <td>FTQL0004</td>
                <td>01/08/2024</td>
                <td>Sửa thông tin sản phẩm</td>
                <td>
                    <a asp-action="Details" asp-route-id="" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td>05</td>
                <td>FTQL0003</td>
                <td>01/08/2024</td>
                <td>Xóa sản phẩm</td>
                <td>
                    <a asp-action="Details" asp-route-id="" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td>06</td>
                <td>FTNV0011</td>
                <td>30/07/2024</td>
                <td>Thanh toán</td>
                <td>
                    <a asp-action="Details" asp-route-id="" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td>07</td>
                <td>PTNV0010</td>
                <td>29/07/2024</td>
                <td>Thanh toán</td>
                <td>
                    <a asp-action="Details" asp-route-id="" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td>08</td>
                <td>PTQL0002</td>
                <td>29/07/2024</td>
                <td>Thêm sản phẩm</td>
                <td>
                    <a asp-action="Details" asp-route-id="" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td>09</td>
                <td>PTNV0015</td>
                <td>28/07/2024</td>
                <td>Thanh toán</td>
                <td>
                    <a asp-action="Details" asp-route-id="" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>FTOL0019</td>
                <td>27/07/2024</td>
                <td>Thêm và Sửa sản phẩm</td>
                <td>
                    <a asp-action="Details" asp-route-id="" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>

            </tr>
        </tbody>
    </table>
</body>
</html>