<!DOCTYPE html>
<html>
<head>
    <title>Bookstores Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1, h2, h3, h4, h5, h6, .w3-wide {
            font-family: "Montserrat", sans-serif;
        }

        .mySlides {
            display: none
        }

        .w3-left, .w3-right, .w3-badge {
            cursor: pointer
        }

        .w3-badge {
            height: 10px;
            width: 10px;
            padding: 0
        }
    </style>
</head>
<body class="w3-content" style="max-width:1500px">
    <header style="background-color:cornflowerblue;" class="navbar navbar-expand-sm navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">BOOKSTORES</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
                    <!--Menu Giới thiệu-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="dropdownGiới thiệu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Giới thiệu</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownIntroduction">
                            <li><a class="dropdown-item" href="./Home/App">Ứng dụng</a></li>
                            <li><a class="dropdown-item" href="./Home/Member">About</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="Home/Home" class="nav-link">Trang chủ</a></li>
                    <!--Menu Danh mục QL-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownDanh mục" role="button" data-bs-toggle="dropdown" aria-expanded="false">Danh mục QL</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownCategory">
                            <li><a class="dropdown-item" href="/">QL Doanh thu</a></li>
                            <li><a class="dropdown-item" href="/">QL Nhân viên</a></li>
                        </ul>
                    </li>
                    <!---Menu Sửa-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownEdit" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sửa</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownEdit">
                            <li><a class="dropdown-item" href="/">Thêm sách</a></li>
                            <li><a class="dropdown-item" href="/">Xóa sách</a></li>
                        </ul>
                    </li>
                    <!--Tìm kiếm-->
                    <input class="fa fa-search" style="font-size:20px;margin-right: 10px;" type="text" placeholder="Tìm kiếm" name="TimKiem">
                    
                </ul>
            </div>
         
        </div>


    </header>
    <div class="container">
        <!--Mua sắm-->
        <button><i style="position:absolute;right:100px;font-size:30px;" class="fa fa-shopping-cart"></i></button>
    </div>
    <!--Phân loại sách-->
    <div class="w3-padding-60 w3-large w3-text-grey" style="font-weight:bold; margin-top:90px">
        <a href="#" class="w3-bar-item w3-button">Tiểu thuyết</a>
        <a href="#" class="w3-bar-item w3-button">Truyện tranh</a>
        <a href="#" class="w3-bar-item w3-button">Ngoại ngữ</a>
        <a href="#" class="w3-bar-item w3-button">Nấu ăn</a>
        <a href="#" class="w3-bar-item w3-button">Khoa học</a>
        <a href="#" class="w3-bar-item w3-button">Thiếu nhi</a>
        <a href="#" class="w3-bar-item w3-button">Kinh dị</a>
        <a href="#" class="w3-bar-item w3-button">Trinh thám</a>
    </div>

    <!-- !PAGE CONTENT! -->
    <div class="main" style="margin-top: 120px">
        <!-- Ảnh lật -->
        <div class="w3-content w3-display-container" style="max-width:800px">
            <img class="mySlides" src="/picture/anh1.jpg" style="width:100%">
            <img class="mySlides" src="/picture/anh2.jpg" style="width:100%">
            <img class="mySlides" src="/picture/anh3.jpg" style="width:100%">
            <img class="mySlides" src="/picture/anh4.jpg" style="width:100%">
            <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
            </div>
        </div>
        <div class="container" style="margin: 10px">
            <!-- Sản phẩm -->
            <div class="w3-row w3-grayscale">
                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/harry1.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Harry Poster và hòn đá phù thủy<br><b>30.000VNĐ</b></p>
                    </div>
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/harry2.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Harry Poster và hoàng tử lai<br><b>30.000VNĐ</b></p>
                    </div>
                </div>

                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/harry3.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Harry Poster và hội phượng hoàng<br><b>30.000VNĐ</b></p>
                    </div>
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/harry4.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Harry Poster and the Phillosopher's Stone'<br><b>30.000VNĐ</b></p>
                    </div>
                </div>
                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/haynhotenanhay.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Hãy nhớ tên anh ấy<br><b>30.000VNĐ</b></p>
                    </div>
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/sodua.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">Sale</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Sọ dừa<br><b class="w3-text-red">30.000VNĐ</b></p>
                    </div>
                </div>

                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/hoangtube.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">Sale</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Hoàng tử bé<br><b>30.000VNĐ</b></p>
                    </div>
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/noigioivangoaigioi.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">Sale</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Nội giới và ngoại giới<br><b>30.000VNĐ</b></p>
                    </div>
                </div>
            </div>
            <div class="w3-row w3-grayscale">
                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/starrynight.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Starry Night<br><b>30.000VNĐ</b></p>
                    </div>
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/thelittleprince.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>The Little Prince<br><b>30.000VNĐ</b></p>
                    </div>
                </div>

                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/demen.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Dế mèn<br><b>30.000VNĐ</b></p>
                    </div>
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/caykhe.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Cây khế<br><b>30.000VNĐ</b></p>
                    </div>
                </div>
                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/biancuadaolon.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Bí ẩn của đảo lớn<br><b>30.000VNĐ</b></p>
                    </div>
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="/picture/gianghococongionho.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">Sale</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Giang hồ có cơn gió nhỏ<br><b class="w3-text-red">30.000VNĐ</b></p>
                    </div>
                </div>

                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="~/picture/nguyenvongcuoicung.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">Sale</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Nguyện vọng cuối cùng<br><b>30.000VNĐ</b></p>
                    </div>
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="~/picture/lienhoayeucot.jpg" style="width:100%">
                            <span class="w3-tag w3-display-topleft">Sale</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button w3-black">Thêm vào<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>Liên hoa yêu cốt<br><b>30.000VNĐ</b></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chân trang -->
        <footer class="w3-padding-30 w3-light-grey w3-small w3-center" id="footer">
            <div class="w3-row-padding">
                <div class="w3-two">
                    <h3>TAGS PHỔ BIẾN</h3>
                    <p>
                        <span class="w3-tag w3-black w3-margin-bottom">KHOA HỌC VIỄN TƯỞNG</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Tiểu thuyết</span>
                        <span class="w3-tag w3-grey w3-small w3-margin-bottom">ANIME</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Manhwa</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">CONAN</span>
                        <span class="w3-tag w3-grey w3-small w3-margin-bottom">MANGA</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">HARRY POSTER</span>
                        <span class="w3-tag w3-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Bí quyết của người giàu</span>
                        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Games</span>
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <script>
                <!--Màn hình nhỏ trang chủ-- >
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";
        }
    </script>

</body>
</html>
